name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - main
  pull_request:
permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read
jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          # The builtin cache feature ensures that installing golangci-lint
          # is consistently fast.
          cache: true
          cache-dependency-path: go.sum
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.6
      # - name: install-golangci-lint
      #   # Install golangci-lint from source instead of using
      #   # golangci-lint-action to ensure the golangci-lint binary is built with
      #   # the same Go version we're targeting.
      #   run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@v2.4.0
      # - name: golangci-lint
      #   run: golangci-lint run --version --verbose --out-format=github-actions
